<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h2>Sample App</h2>

    <div>

      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <b>Name</b>
          </ion-col>
          <ion-col size="8">
            <span>{{sampleData.name}}</span>
          </ion-col>
        </ion-row>
  
        <ion-row>
          <ion-col size="4">
            <b>Type</b>
          </ion-col>
          <ion-col size="8">
            <span>{{sampleData.type}}</span>
          </ion-col>
        </ion-row>
  
        <ion-row>
          <ion-col size="10">
            <ion-button (click)="openObject()">
              Open
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
</ion-content>
